.sign-up {
  color: orange;
  background: #ffff;
  font-size: 20px;
  width: 140px;
  height: 52px;
  border-radius: 15px;
  text-align: center;
  border: 1px solid orange;
}
.sign-in {
  color: #fff;
  background: orange;
  /* padding: 11px; */
  font-size: 20px;
  width: 140px;
  height: 52px;
  border-radius: 15px;
  text-align: center;
}
.sign-bottom {
  padding-top: 170px;
}
.backgroun-image{
  --background: #fff url('../../assets/food2.jpg') no-repeat center center / cover;
  background-color: #fff;
  opacity: 0.8;

}
.ion-text-center{
  padding: 6px;
    position: relative;
    top: 89px;
}
