

<ion-content [fullscreen]="true">
 
  <ion-img src="assets\food.png"></ion-img>
   <ion-text   class="text-size ion-text-center">
   <p>Two of the biggest cuprits of scroll jank is starting up a new HTTP request, and rendering images. These two reasons is largely why ion-img was created. The standard HTML img element is often a large source of these problems, and what makes matters worse is that the app does not have fine-grained control 
    of requests and rendering</p> 
   </ion-text>  
    <ion-grid class="sign-bottom">
     <ion-row>
       <ion-col>
        <ion-button expand="block" fill="outline" class="sign-up" (click)="signUp()">Sign Up</ion-button>
       </ion-col>
       <ion-col>
        <ion-button expand="block" fill="outline" class="sign-in" (click)="signIn()">Sign In</ion-button>
       </ion-col>
     </ion-row>
   </ion-grid>
</ion-content>
