<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div align="center" class="camera-css">
    <ion-img src="assets\food.png"></ion-img>
  </div>
  <ion-item>
    <ion-label position="floating">NAME</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">EMAIL</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <div align="center">
      <ion-button  fill="outline" class="sign-up" (click)="submit()">Signin</ion-button>
  </div>
 
</ion-content>

