<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div (click)="goToBack()" class="goToBack">
    <ion-button shape="round" fill="outline">BACK</ion-button>
  </div>
  <div align="center" class="camera-css">
    <ion-icon name="camera-outline"></ion-icon>
  </div>
  <ion-item>
    <ion-label position="floating">NAME</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">EMAIL</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label>
      <ion-checkbox color="primary"></ion-checkbox>i agree with Terms And Conditions Icon
    </ion-label>

  </ion-item>
  <div>

  </div>
  <div align="center" class="mt-5">

    <ion-button fill="outline" class="sign-up" (click)="submit()">Sign Up</ion-button>

  </div>

</ion-content>