.camera-css {
  padding-top: 50px;
  font-size: 120px;
}
.sign-up {
  color: #fff;
  background: orange;
}
.mt-5 {
  margin: 40px;
}
.account-radius{
    border: 1px solid #fff;
}
.checkbox-css{
    margin-left: 12px;
    margin-top: 47px;
}
