<!-- 

<ion-content [fullscreen]="true">
 
  <ion-img src="assets\food1.png"></ion-img>
   <ion-text   class="text-size ion-text-center">
   <p>sometimes, the only way to describe food is to say food was good tasting, or it tasted foul.  Toothsome, strictly used, refers to edible and pleasant food, </p> 
   </ion-text>  
    <ion-grid class="sign-bottom">
     <ion-row>
       <ion-col>
        <button  class="sign-up" (click)="signUp()">Sign Up</button>
       </ion-col>
       <ion-col>
        <button  class="sign-in" (click)="signIn()">Sign In</button>
       </ion-col>
     </ion-row>
   </ion-grid>
</ion-content> -->
